* {
  box-sizing: border-box;
}
.body {
  display: flex;
  flex-direction: column;
}

.list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}
.page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}