* {
  box-sizing: border-box;
}

.character {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 2vw;
  line-height: 0.5vh;
  outline: lightslategrey;
}